kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  extraMounts:
  - hostPath: C:/Users/yohan/Desktop/Backends/ollama/models
    containerPath: /mounts/ollama/models
    propagation: Bidirectional
